<p class="color-yellow bg-purple text-sans-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Amet aliquam id diam maecenas.
  Nisl tincidunt eget nullam non nisi est sit amet facilisis. Facilisis leo vel
  fringilla est ullamcorper. Hac habitasse platea dictumst vestibulum rhoncus
  est pellentesque. Eget magna fermentum iaculis eu non diam phasellus. Lacus
  sed turpis tincidunt id aliquet risus feugiat in ante. Elementum pulvinar etiam
  non quam lacus suspendisse. Ut diam quam nulla porttitor. Et netus et malesuada
  fames. Quam quisque id diam vel quam elementum. Eget est lorem ipsum dolor sit
  amet consectetur adipiscing. In fermentum posuere urna nec tincidunt praesent
  semper feugiat. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit sed.</p>

<p class="color-blue bg-orange text-serif">Faucibus purus in massa tempor nec feugiat nisl pretium. Vitae elementum
  curabitur vitae nunc sed. Ac felis donec et odio pellentesque diam volutpat
  commodo sed. Libero nunc consequat interdum varius. Quam quisque id diam vel
  quam elementum pulvinar. Leo a diam sollicitudin tempor id eu. Mauris rhoncus
  aenean vel elit. Aliquet nec ullamcorper sit amet risus nullam eget felis.
  Praesent semper feugiat nibh sed pulvinar. Velit dignissim sodales ut eu sem
  integer vitae.</p>

<p class="color-red bg-orange text-sans-serif bold">Lacus vel facilisis volutpat est velit egestas dui id. Leo integer malesuada
  nunc vel risus. Aliquam eleifend mi in nulla posuere sollicitudin aliquam
  ultrices. Sed egestas egestas fringilla phasellus faucibus scelerisque eleifend
  donec. Mollis nunc sed id semper risus in hendrerit. Elit sed vulputate mi sit
  amet mauris. Elementum tempus egestas sed sed. Odio pellentesque diam volutpat
  commodo sed egestas. Malesuada proin libero nunc consequat interdum varius.
  Lacus vestibulum sed arcu non odio euismod lacinia at. Quam adipiscing vitae
  proin sagittis nisl rhoncus mattis rhoncus. Massa placerat duis ultricies lacus
  sed turpis tincidunt id. Ullamcorper malesuada proin libero nunc. Neque gravida
  in fermentum et sollicitudin ac orci phasellus. Varius duis at consectetur lorem
  donec. Odio ut sem nulla pharetra diam sit amet. Sit amet commodo nulla facilisi.
  Sed adipiscing diam donec adipiscing tristique. Nisl nisi scelerisque eu ultrices
  vitae auctor eu augue.</p>

<p class="color-yellow bg-green italic">Vitae congue eu consequat ac felis. Adipiscing bibendum est ultricies integer
  quis auctor. Pulvinar sapien et ligula ullamcorper malesuada proin libero nunc.
  A iaculis at erat pellentesque adipiscing commodo. Vel fringilla est ullamcorper
  eget nulla. Pellentesque habitant morbi tristique senectus et netus et. Mi proin
  sed libero enim sed. Mauris pellentesque pulvinar pellentesque habitant morbi
  tristique senectus. Interdum posuere lorem ipsum dolor sit amet. In hendrerit
  gravida rutrum quisque non tellus orci. Pretium lectus quam id leo. Imperdiet
  nulla malesuada pellentesque elit eget gravida. At auctor urna nunc id. Morbi
  tincidunt augue interdum velit euismod in pellentesque massa. Mi quis hendrerit
  dolor magna eget est lorem. Aenean sed adipiscing diam donec adipiscing tristique
  risus nec. Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam.</p>

<p class="color-blue bg-purple text-serif bold">Bibendum arcu vitae elementum curabitur vitae nunc sed velit. Platea dictumst
  quisque sagittis purus sit amet. Cursus euismod quis viverra nibh cras pulvinar
  mattis nunc sed. Condimentum vitae sapien pellentesque habitant. Ullamcorper sit
  amet risus nullam eget felis eget. Id diam maecenas ultricies mi eget mauris
  pharetra et ultrices. Enim diam vulputate ut pharetra sit amet aliquam id.
  Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Nulla
  aliquet porttitor lacus luctus accumsan tortor posuere ac ut. Proin nibh nisl
  condimentum id venenatis. Pellentesque dignissim enim sit amet venenatis urna.
  Sapien nec sagittis aliquam malesuada bibendum arcu. Non blandit massa enim nec.</p>
